on boot
  setprop perf_profile 0

# FPS Info permissions
  chown system graphics /sys/class/drm/sde-crtc-0/measured_fps
  chmod 0666 /sys/class/drm/sde-crtc-0/measured_fps

# CABC
  chown system system /sys/kernel/oppo_display/cabc
  chmod 0644 /sys/kernel/oppo_display/cabc

# Game Mode perf profile
on property:perf_profile=0
  write /sys/module/cpu_input_boost/parameters/input_boost_duration 64
  write /sys/module/cpu_input_boost/parameters/wake_boost_duration 1000
  write /sys/module/cpu_input_boost/parameters/min_freq_lp 576000
  write /sys/module/cpu_input_boost/parameters/min_freq_perf 652000
  write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor schedutil
  write /sys/devices/system/cpu/cpufreq/policy6/scaling_governor schedutil

on property:perf_profile=1
  write /sys/module/cpu_input_boost/parameters/input_boost_duration 100 
  write /sys/module/cpu_input_boost/parameters/wake_boost_duration 3000
  write /sys/module/cpu_input_boost/parameters/min_freq_lp 1708800
  write /sys/module/cpu_input_boost/parameters/min_freq_perf 2208000 
  write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor performance
  write /sys/devices/system/cpu/cpufreq/policy6/scaling_governor performance

# CABC off
on property:persist.cabc_profile=0
  write /sys/kernel/oppo_display/cabc 0

# CABC on
on property:persist.cabc_profile=1
  write /sys/kernel/oppo_display/cabc 1

# CABC balanced
on property:persist.cabc_profile=2
  write /sys/kernel/oppo_display/cabc 2

# CABC aggressive
on property:persist.cabc_profile=3
  write /sys/kernel/oppo_display/cabc 3
